In [1]:
import pandas as pd

In [3]:
raw_path = "../data/Zip_zhvi_uc_sfr_tier_0.33_0.67_sm_sa_month.csv"
df = pd.read_csv(raw_path)

In [4]:
print(df.shape)

(26208, 314)

In [5]:
df.head()

,RegionID,SizeRank,RegionName,RegionType,StateName,State,City,Metro,CountyName,2000-01-31,...,2024-08-31,2024-09-30,2024-10-31,2024-11-30,2024-12-31,2025-01-31,2025-02-28,2025-03-31,2025-04-30,2025-05-31
0,91982,1,77494,zip,TX,TX,Katy,"Houston-The Woodlands-Sugar Land, TX",Fort Bend County,215574.438255,...,510182.434440,510892.763641,512049.650147,512792.660486,513227.722201,513665.946230,513338.383882,512408.507833,510568.598127,508318.844450
1,61148,2,8701,zip,NJ,NJ,Lakewood,"New York-Newark-Jersey City, NY-NJ-PA",Ocean County,148477.755194,...,695796.402981,702604.063025,709293.474456,714159.727665,716847.338283,717878.902186,720826.783733,724843.289367,729957.745787,734632.468660
2,91940,3,77449,zip,TX,TX,Katy,"Houston-The Woodlands-Sugar Land, TX",Harris County,106161.586055,...,288461.727101,288271.118755,287847.183593,287044.229109,286301.877814,285680.843518,285044.264672,284194.128893,283214.282228,282393.931681
3,62080,4,11368,zip,NY,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",Queens County,324297.207309,...,964100.578626,966858.639801,969170.155864,970457.410038,970540.504388,969886.051550,970434.250479,970851.001272,974994.605890,981018.751871
4,91733,5,77084,zip,TX,TX,Houston,"Houston-The Woodlands-Sugar Land, TX",Harris County,105388.243306,...,282674.177502,282423.296576,281911.642124,281303.549642,280961.447460,280719.060835,280312.404076,279436.475212,278371.471330,277455.350725

In [6]:
id_vars = ['RegionID', 'RegionName', 'SizeRank', 'RegionType', 'StateName']
date_columns = df.columns.difference(id_vars)
#Melt to long format
df_melted = df.melt(id_vars, value_vars = date_columns,var_name='date', value_name='value')
#Convert to datetime
df_melted['date'] = pd.to_datetime(df_melted['date'], format='%Y-%m', errors='coerce')
#drop rows with missing strings/values
df_melted.dropna(subset=['date', 'value'], inplace=True)

In [7]:
#Filter Colorado Zip by prefix (80000-81658)
df_melted['RegionName'] = df_melted['RegionName'].astype(str)

df_co = df_melted['RegionName'].str.match(f'^80[0-9]{3}|^81[0-5][0-9]|^816[0-5]')

In [8]:
import os
os.makedirs('../data', exist_ok=True)
df_co.to_csv('../data/colorado_home_values.csv', index=False)